/*basic styling*/
body, html{
    font-family: 'Lato', serif;
    font-size: 1.25em;
    color: white;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
header{
    font-size: 4em;
    font-family: 'Oswald', sans-serif;
}
h2,h3,h4{
    font-family: 'Oswald', sans-serif;
}
ul{
    list-style: none;
    padding-left: 0;
}
li{
    display: inline-block;
    margin: 1em;
}
.row{
    margin: 2em;
    background: rgba(0, 0, 0, .8);
}
.content{
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}
/*link interaction stylings*/
a{
    color: white;
    text-decoration: underline;
}
a:hover{
    color: silver;
    transition: 1s;
}
a:active{
    color: lightgrey;
}
a:visited{
    color: gray;
}
/*mobile modifications*/
@media (max-width: 991px) {
    header{
        font-size: 2em;
    }
    .row{
        margin: 0.5em;
        margin-top: 1.5em;
        margin-bottom: 1.5em;
    }
    p{
        text-align: left;
        font-size: .75em;
    }
}

/*CSS for SVG paralax background*/
:root{
    --scroll-percentage: 0s;
}

.controlled-by-scroll {
    animation-play-state: paused;
    animation-duration: 101s;
    animation-delay: var(--scroll-percentage);
}

#sky {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
    animation: sky-fade;
    animation-play-state: paused;
    animation-duration: 101s;
    animation-delay: var(--scroll-percentage);
}
@keyframes sky-fade {
    from{
        background-color: #FF3300;
    }
    to{
        background-color: #020713;
    }
}

.star {
    fill: white;
    r: 0.25%;
    animation: star-fade;
    animation-play-state: paused;
    animation-duration: 101s;
    animation-delay: var(--scroll-percentage);
}
@keyframes star-fade {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}

#moon{
    cx: 10%;
    r: 5%;
    animation: moon-up;
    animation-play-state: paused;
    animation-duration: 101s;
    animation-delay: var(--scroll-percentage);
}
@keyframes moon-up {
    from {
        cy: 95%;
    }
    to {
        cy: 15%;
    }
}

#sun {
    cx: 50%;
    r: 10%;
    animation: sun-down;
    animation-play-state: paused;
    animation-duration: 101s;
    animation-delay: var(--scroll-percentage);
}
@keyframes sun-down {
    from {
        cy: 20%;
        fill: #FCAA18;
    }
    to {
        cy: 100%;
        fill: #FD3516;
    }    
}

#lake{
    rx: 60%;
    ry: 10%;
    cx: 50%;
    animation: lake-rise;
    animation-play-state: paused;
    animation-duration: 101s;
    animation-delay: var(--scroll-percentage);
}
@keyframes lake-rise{
    from {
        cy: 120%;
        fill: #2059E9;
    }
    to {
        cy: 95%;
        fill: #103BA6;
    }
}

.tree-greens{
    animation: green-fade;
    animation-play-state: paused;
    animation-duration: 101s;
    animation-delay: var(--scroll-percentage);
}
@keyframes green-fade{
    from{
        fill: #0B5B2F;
        transform: translate(0,0);
    }
    to{
        fill: #063119;
        transform: translate(0, -1); /*this needs to be here for the animation to happen, but the values are overwritten by the translate that's inline?  why???*/
    }
}

.mountain-tops{
    animation: mountain-fade;
    animation-play-state: paused;
    animation-duration: 101s;
    animation-delay: var(--scroll-percentage);
}
@keyframes mountain-fade{
    from{
        fill: #341209;
        transform: translate(0,0);
    }
    to{
        fill: #DB5530;
        transform: translate(0, -1); /*this needs to be here for the animation to happen, but the values are overwritten by the translate that's inline?  why???*/
    }
}
