/*basic styling*/
body{
    background-color: white;
    font-family: 'Lato', serif;
    font-size: 1.25em;
    color: white;
    overflow-x: hidden;
}
header{
    font-size: 8em;
    font-family: 'Oswald', sans-serif;
    margin: auto;
    text-align: center;
}
h1,h2{
    font-family: 'Oswald', sans-serif;
}
nav, .col-4{
    text-align: center;
}
ul{
    list-style: none;
}
li{
    text-align: center;
    display: inline-block;
    margin-left: 2em;
    margin-right: 2em;
}
.row{
    padding: 1em;
}
img{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
/*link interaction stylings*/
a{
    color: grey;
    text-decoration: none;
}
a:hover{
    color: silver;
    transition: 1s;
    text-decoration: none;
}
a:active{
    color: lightgrey;
}
/*mobile modifications*/
@media (max-width: 780px) {
    header{
        font-size: 3em;
    }
}